#returnToTop {
  position: fixed;
  bottom: 1.25rem;
  right: 1.25rem;
  font-size: 1.25rem;
  background: var(--text-color);
  color: var(--bg-color);
  border: none;
  border-radius: 60%;
  padding: 0.625rem;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.3s;
  z-index: 100;
  width: 3.125rem;
}

#returnToTop:hover {
  opacity: 1;
}
